<html>
<head>
    <style media="print">
     @page instructions {
         margin: 0;
         size: letter portrait;
         padding: 0;
       }
    @page frame{
        margin: 0;
        padding: 0;
        size: letter landscape;
    }
    </style>
    <style>

        .instruction-container{
            page: instructions;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 25% 25% 25%;
            grid-auto-flow: column dense;
        }
        .instruction{
            position: relative;
            display: block;
            outline: 2px solid black;
            width: 4.25in;
            height: calc(11in/4);
        }
        .instruction-number{
            position: absolute;
            right:.25in;
            bottom:0;
            font-size: 64pt;
            color: dimgrey;
        }
        .routine-name{
            position: absolute;
            left: .1in;
            bottom: .1in;
            font-size: 10pt;
            color: lightgray;
        }
        .instruction-argument{
            text-align: center;
            font-size: 20pt;
            color: forestgreen;
        }
        .instruction-name{
            text-align: center;
            font-size: 28pt;
            margin-left: .55in;
            margin-right:.55in;
        }
        .instruction-details .argument{
            color: forestgreen;
        }
        .instruction-details .stack{
            color: darkblue;
        }
        .instruction-argument h1,h2,h3,h4,h5,h6{
            margin-top: .1in;
            margin-bottom: 0;
        }
        .instruction-dot{
            position: absolute;
            left: .33in;
            top: .33in;
        }
        .proc-intro p{
            margin-left: .6in;
            margin-right: .4in;
            font-style: italic;
            font-size: 10pt;
        }
        .proc-header{
            text-align: center;
        }
        .procedure-title{
            text-align: center;
            font-family: monospace;
            font-size: 34pt;
        }
        .page{page-break-after: always}
</style>
<!--    style for frame-->
    <style>
    body{
      margin: 0;
      padding: 0;
    }

    section{
      page: frame;
      font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
      margin: 0;
      padding: 0;
        /*width:100%;*/
       /*// height: 100%;*/
      display: grid;
      page-break-after: always;
      page-break-before: always;
      page-break-inside: avoid;

      grid-template-columns: 30% 55% 15%;
      grid-template-rows: 40% 30% 30%;
      grid-template-areas:
      "ins stack locals"
      "scratch reg locals"
      "scratch reg locals";
      grid-gap: .05in;
    }
    .centertext{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    .centertext p{
      font-size: 24pt;
    }
    .toptext{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    .toptext p{
      font-size: 16pt;
    }
    .cardarea{
      width: 2.5in;
      height: 3in;

      margin: auto;
      border: 2px dashed black;
      border-radius: .1in;
    }
    .meta{
      border: 2px solid black;
      border-radius: .5in;
      justify-self: stretch;
      align-self: stretch;
    }
    .instructions{
      grid-area: ins;
      margin-top:.1in;
      display: inline-block;
    }
    .stack{
      grid-area: stack;
      justify-self: center;
      align-self: center;
    }
    .locals{
      grid-area: locals;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end;
    }
    .local{
      display: inline-block;
      height: 2.5in;
      width: 1.5in;
      border-top: 2px dashed black;
      border-left: 2px dashed black;
      border-bottom: 2px dashed black;
      border-radius: .5in 0 0 .5in;
      flex-shrink: 1;
      flex-basis: auto;
    }
    .reg{
      grid-area: reg;
      display: flex;
      justify-content: space-around;
      align-content: center;
    }
    .regitem{
      width: 2.5in;
      height: 3in;
      align-self: center;
      border: 2px dashed black;
      border-radius: .1in;
    }
    .scratch{
      grid-area: scratch;
    }

  </style>
    </head>
<body>
    {{# routines}}
        <div class="page">
<!--        <h1 class="routine-start"></h1>-->
        <div class="instruction-container">
                <div class="instruction proc-intro">
                    <div class="instruction-dot">•</div>
                    <p class="proc-header">procedure instructions for:</p>
                    <h2 class="procedure-title">{{name}}</h2>
                    {{main}}
                    <p>Unless otherwise instructed, complete these instructions in numerical order.</p>
                    <p>When there are no more instructions to complete, you are finished.</p>

                    <div class="routine-name">
                        {{routine}}
                    </div>
                </div>
        {{# instructions }}
                <div class="instruction">
                    <div class="instruction-number">{{number}}</div>
                    <h2 class="instruction-name">{{name}}</h2>
                    <div class="instruction-dot">•</div>
                    {{#argument}}
                    <div class="instruction-argument">
                        <h3>{{{.}}}</h3>
                    </div>
                    {{/argument}}
                    <div class="instruction-details">
                        <ol>
                            {{#details}}
                            <li>{{{.}}}
                            {{/details}}
                        </ol>
                    </div>
                    <div class="routine-name">
                        {{routine}}
                    </div>
                </div>
        {{/instructions}}
        </div>
        </div>

    {{/routines}}

    {{#frames}}
        <section class="frame">
  <div class="instructions meta"><div class="centertext"><p>instructions</p></div></div>
  <div class="stack">
      <div class="cardarea centertext"><p>the stack</p></div>
  </div>
  <div class="locals">
    <div class="local"><div class="centertext"> <p>local 0</p></div></div>
    <div class="local"><div class="centertext"> <p>local 1</p></div></div>
    <div class="local"><div class="centertext"> <p>local 2</p></div></div>

  </div>
  <div class="scratch meta">
    <div class="toptext">
      <p>scratch area</p>
    </div>
  </div>
  <div class="reg meta">
    <div class="regitem centertext"><p>A</p></div>
    <div class="regitem centertext"><p>B</p></div>
  </div>
</section>
    {{/frames}}
</body>
</html>
